- name: Manage AWS EC2 power state (strict governance)
  hosts: localhost
  connection: local
  gather_facts: no
 
  vars:
    region: "{{ aws_region }}"
    desired_state: "{{ power_state }}"
    role_name: EC2PowerRole
 
  tasks:
  - name: Show input parameters
    debug:
      msg:
        - "aws_account_id = {{ aws_account_id | default('NOT SET') }}"
        - "Instance ID = {{ instance_id | default('NOT SET') }}"
        - "Region = {{ region | default('NOT SET') }}"
        - "SNC tag = {{ tag_sncreqcreate | default('NOT SET') }}"
        - "power_state = {{ power_state | default('NOT SET') }}"
        - "vm_name = {{ vm_name | default('NOT SET') }}"
      
  - name: Validate power state
    fail:
      msg: "power_state must be started or stopped"
    when: desired_state not in ['started','stopped']
 
  - name: Assume role in target AWS account
    amazon.aws.sts_assume_role:
      role_arn: "arn:aws:iam::{{ aws_account_id }}:role/{{ role_name }}"
      role_session_name: azure-devops-session
    register: assumed_role
 
  - name: Lookup instance by ID
    amazon.aws.ec2_instance_info:
      region: "{{ region }}"
      instance_ids: ["{{ instance_id }}"]
      aws_access_key: "{{ assumed_role.sts_creds.access_key }}"
      aws_secret_key: "{{ assumed_role.sts_creds.secret_key }}"
      session_token: "{{ assumed_role.sts_creds.session_token }}"
    register: instance_lookup
    when: instance_id | length > 0
 
 
  - name: Lookup instance by Name tag
    amazon.aws.ec2_instance_info:
      region: "{{ region }}"
      filters:
        "tag:Name": "{{ vm_name }}"
      aws_access_key: "{{ assumed_role.sts_creds.access_key }}"
      aws_secret_key: "{{ assumed_role.sts_creds.secret_key }}"
      session_token: "{{ assumed_role.sts_creds.session_token }}"
    register: instance_lookup
    when:
      - instance_id | length == 0
      - vm_name | length > 0
 
 
  - name: Lookup instance by SNC tag
    amazon.aws.ec2_instance_info:
      region: "{{ region }}"
      filters:
        "tag:tag_sncreqcreate": "{{ tag_sncreqcreate }}"
      aws_access_key: "{{ assumed_role.sts_creds.access_key }}"
      aws_secret_key: "{{ assumed_role.sts_creds.secret_key }}"
      session_token: "{{ assumed_role.sts_creds.session_token }}"
    register: instance_lookup
    when:
      - instance_id | length == 0
      - vm_name | length == 0
      - tag_sncreqcreate | length > 0
    
  - name: Fail if instance not found
    fail:
      msg: "No instance matched provided identifiers"
    when:
      - instance_lookup is defined
      - instance_lookup.instances | default([]) | length == 0
 
 
  - name: Store resolved instance
    set_fact:
      resolved_instance: "{{ instance_lookup.instances[0] }}"

  
  - name: Validate VM name if provided
    fail:
      msg: "VM name does not match instance tag"
    when:
      - vm_name | length > 0
      - resolved_instance.tags.Name != vm_name
  
  - name: Validate SNC tag if provided
    fail:
      msg: "SNC tag mismatch"
    when:
      - tag_sncreqcreate | length > 0
      - resolved_instance.tags.tag_sncreqcreate != tag_sncreqcreate
 
 
  - name: Validate account ownership
    fail:
      msg: "Instance not in expected AWS account"
    when: resolved_instance.owner_id != aws_account_id
 
  - name: Change EC2 state
    amazon.aws.ec2_instance:
      instance_ids:
        - "{{ resolved_instance.instance_id }}"
      region: "{{ region }}"
      state: "{{ desired_state }}"
      wait: yes
      aws_access_key: "{{ assumed_role.sts_creds.access_key }}"
      aws_secret_key: "{{ assumed_role.sts_creds.secret_key }}"
      session_token: "{{ assumed_role.sts_creds.session_token }}"
 
 
  - name: Output result
    debug:

      msg: "Instance {{ resolved_instance.instance_id }} is now {{ desired_state }}"










