---
- name: Manage AWS EC2 power state (simple)
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    region: "{{ aws_region }}"
    desired_state: "{{ power_state }}"

  tasks:

  - name: Validate instance ID
    fail:
      msg: "instance_id must be provided"
    when: instance_id | default('') | trim | length == 0


  - name: Start or Stop instance
    amazon.aws.ec2_instance:
      instance_ids:
        - "{{ instance_id }}"
      region: "{{ region }}"
      state: "{{ desired_state }}"
      wait: yes
      aws_access_key: "{{ aws_access_key }}"
      aws_secret_key: "{{ aws_secret_key }}"
    when: desired_state in ['started','stopped']


  - name: Restart instance
    amazon.aws.ec2_instance:
      instance_ids:
        - "{{ instance_id }}"
      region: "{{ region }}"
      state: restarted
      wait: yes
      aws_access_key: "{{ aws_access_key }}"
      aws_secret_key: "{{ aws_secret_key }}"
    when: desired_state == 'restarted'


  - name: Output result
    debug:
      msg: "Instance {{ instance_id }} is now {{ desired_state }}"
